.center > img {
  width: 48px;
}
.center {
  text-align: center;
  width: 100%;
}
.header-bg {
  background-color: #ee1a26;
 
}
.btn-primary {
  background-color: #ee1a26;
  border-color: #ee1a26;
  color: #ffffff;
}
h2, .h2 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 5px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  margin-top: 0;
}
#boma, #redcourt {
  height: 40px;
  padding: 10px;
}